<header class="center-header">
	<i class="iconfont icon-install pa"></i>
	<i class="iconfont icon-attention pa"></i>
	<h2>个人中心</h2>
</header>
<div class="center-avatar-wrap">
	<div class="center-avatarbg">
		<div class="center-avatar">
			<a href="javascript:;">
				<div><img src="img/center-avatar.png" /></div>
				<span>登录/注册</span>
			</a>
		</div>
		<div class="center-avatar2">
			<h2 class="user-name">游客QFAF</h2>
			<div class="user-moneyinfor clrfix">
				<div class="infor-bubble flt"><i class="m-money">喵币</i><span>0</span></div>
				<div class="infor-bubble center"><i class="m-growth">成长值 0</i></div>
				<div class="infor-bubble frt"><i class="m-jifen">积分</i><span>0</span></div>
			</div>
			<div class="bottom-brick"></div>
			<a href="javascript:void(0);">
				<div class="touxiang-wrap">
					<div class="touxiang">
						<img src="img/center-avatar.png" />
						<i class="level-icon">V1</i>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="center-func">
	<div class="follow-funs clrfix">
		<p class="center-follow flt">
			<i>0</i>
			<span>关注</span>
		</p>
		<p class="center-funs frt">
			<i>0</i>
			<span>粉丝</span>
		</p>
	</div>
	<div class="my-order clrfix">
		<p class="my-order-p flt"><i class="iconfont icon-order"></i></p>
		<span class="flt">我的订单</span>
		<i class="order-more iconfont icon-right frt"></i>
	</div>
	<div class="center-custom-func">
		<p class="wait-pay">
			<i class="iconfont icon-payment"></i>
			<span>代付款</span>
		</p>
		<p class="wait-recei">
			<i class="iconfont icon-receiving"></i>
			<span>待收货</span>
		</p>
		<p class="wait-comment">
			<i class="iconfont icon-postMessage"></i>
			<span>待评价</span>
		</p>
		<p class="after-service">
			<i class="iconfont icon-takeDelivery"></i>
			<span>售后服务</span>
		</p>
	</div>
</div>
<div class="function-list">
	<div class="func mypost clrfix">
		<p class="my-order-p p1"><i class="iconfont icon-postMessage"></i></p>
		<span class="flt">我的发帖</span>
		<i class="order-more iconfont icon-right frt"></i>
		<div class="bottom-line"></div>
	</div>
	<div class="func myyouhui clrfix">
		<p class="my-order-p p2"><i class="iconfont icon-youhuiquan"></i></p>
		<span class="flt">我的优惠券</span>
		<i class="order-more iconfont icon-right frt"></i>
		<div class="bottom-line"></div>
	</div>
	<div class="func myfollow clrfix">
		<p class="my-order-p p3"><i class="iconfont icon-starLike"></i></p>
		<span class="flt">我的关注</span>
		<i class="order-more iconfont icon-right frt"></i>
		<div class="bottom-line"></div>
	</div>
	<div class="func mycollect clrfix">
		<p class="my-order-p p4"><i class="iconfont icon-starCollection"></i></p>
		<span class="flt">我收藏的帖子</span>
		<i class="order-more iconfont icon-right frt"></i>
		<div class="bottom-line"></div>
	</div>
	<div class="func mylike clrfix">
		<p class="my-order-p p5"><i class="iconfont icon-like"></i></p>
		<span class="flt">我赞过的宝贝</span>
		<i class="order-more iconfont icon-right frt"></i>
		<div class="bottom-line"></div>
	</div>
	<div class="func myaddress clrfix">
		<p class="my-order-p p6"><i class="iconfont icon-shippingAddress"></i></p>
		<span class="flt">管理收货地址</span>
		<i class="order-more iconfont icon-right frt"></i>
	</div>
</div>
<footer>
	<div class="footer-nav " ng-click="goHome()">
		<i class="nav-home "></i>
		<p>喵~首页</p>
	</div>
	<div class="footer-nav " ng-click="goComm()">
		<i class="nav-earth "></i>
		<p>喵~社区</p>
	</div>
	<div class="footer-nav " ng-click="goCart()">
		<i class="nav-cart "></i>
		<p>购物车</p>
	</div>
	<div class="footer-nav " ng-click="goCenter()">
		<i class="nav-me active"></i>
		<p>喵~Me</p>
	</div>
</footer>